.div-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.div-checkbox .boxcheck {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.div-checkbox .boxlabel {
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
}

.div-checkbox .boxinput {
    margin-top: 1px;
    display: inline-block;
    vertical-align: middle;
}

.highlight_calender {
    background-color: #d90036 !important;
    color: #fff;
}